/* edit.css */

.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 1rem;
}

.edit {
    background: #AAC4FF;
    box-shadow: 0px 0px 0px 5px #AAC4FF;
    border: dashed 2px white;
    padding: 0.5em 2.0em; /* 下部の余白を追加 */
    width: 200px;
    text-align: center; /* 文字を中央寄せにする */
    font-weight: bold; /* 太字 */
    font-size: 1.5rem; /* フォントサイズを指定 */
    color: white; /* 文字の色を白にする */
    margin: 0.2em auto 2em; /* 下部の余白を追加,中央寄せ*/
}


.content__title h2,
.content__body h2 {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
    color: #AAC4FF; /* タイトルカラー - ブルー */
}

h1 {
    font-size: 2rem;
    color: #AAC4FF;
    text-align: left;
    margin-top: 0.3rem; 
    margin-bottom: 0.3rem;
}

h2 {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
    color: #AAC4FF; /* タイトルカラー - ブルー */
}

/* フォーム全体のスタイル */
form {
    max-width: 500px;
    margin: 0 auto;
    background-color: white;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

select {
    width: 100%;
    padding: 0.5rem;
    margin-top: 0.5rem;
    border: 1px solid #AAC4FF;
    border-radius: 5px;
    box-sizing: border-box;
    color: #757575;
    appearance: none;
    background-color: white; /* セレクトボックスの背景を白に変更 */
    cursor: pointer;
}

input,
textarea {
    width: 100%;
    padding: 0.5rem;
    font-size: 1rem;
    margin-bottom: 1rem;
    border: 1px solid #64b5f6; /* ボーダーカラー - ブルー */
    border-radius: 0.25rem;
}

input[type="submit"],
input[type="text"],
textarea,
input[type="datetime-local"] {
    width: 100%;
    padding: 0.5rem;
    margin-top: 0.5rem;
    border: 1px solid #AAC4FF;
    border-radius: 5px;
    box-sizing: border-box;
    color: #757575;;
}

input[type="submit"] {
    background-color: #AAC4FF;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

input[type="submit"]:hover {
    background-color: #7892c2; /* ホバーエフェクト時の色 - ブルー */
}

.back {
    margin-top: 1rem;
    text-align: center;
}

.back a {
    color: #AAC4FF;
    text-decoration: underline;
}

.back a:hover {
    text-decoration: underline;
}
