/* index.css */

.header-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 0 auto;
    max-width: 30%;
    padding: 1rem;
    border-radius: 70px;
    margin-bottom: 0.5rem;
    margin-top: 30px;
}

h1 {
    font-size: 2rem;
    color: #AAC4FF;
    text-align: left;
    margin-top: 0.3rem; 
    margin-bottom: 0.3rem;
}

.button-create {
    background-color: #AAC4FF;
    color: white;
    padding: 1rem 2rem;
    text-decoration: none;
    border: none;
    border-radius: 50px;
    font-size: 1.5rem;
    font-weight: bold; /* 太字 */
    cursor: pointer;
    transition: background-color 0.3s ease-in-out, transform 0.2s ease-in-out, box-shadow 0.3s ease-in-out;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    font-family: 'Noto Sans JP', sans-serif;
}

.button-create:hover {
    background-color: #7892c2;
    transform: scale(1.1);
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
}

.post-card {
    border: 2px solid #ec407a;
    border-radius: 15px;
    overflow: hidden;
    margin-bottom: 1.5rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.button-completed button,
.button-incomplete button {
    background-color: #AAC4FF;
    color: white;
    padding: 0.7rem 1.5rem;
    font-size: 1rem;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    margin-right: 0.5rem;
    transition: background-color 0.3s ease-in-out;
    display: block;
    margin: 0 auto;
}

.button-completed button:hover,
.button-incomplete button:hover {
    background-color: #7892c2;
}

.button-incomplete button {
    background-color: #e0e0e0;
    color: #757575;
}

.button-delete-form {
    display: inline-block; 
    text-align: center; 
}

.button-delete {
    background-color: #AAC4FF;
    color: white;
    padding: 0.5rem 1.0rem;
    font-size: 0.8rem;
    border: 2px solid #AAC4FF;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
    display: block;
    display: inline-block;
}

.button-delete:hover {
    background-color: #7892c2;
    color: #fff;
}

.button-edit-form {
    display: inline-block; 
    text-align: center; 
}

.button-edit {
    background-color: #AAC4FF;
    color: white;
    padding: 0.5rem 1.0rem;
    font-size: 0.8rem;
    border: 2px solid #AAC4FF;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
    display: block;
    display: inline-block;
}

.button-edit:hover {
    background-color: #7892c2;
    color: #fff;
}

/* タイトルへのリンクスタイル */
.task-link {
    color: #757575; /* リンクの色 */
    text-decoration: none; /* リンクの下線を削除 */
    font-weight: bold; /* 太字 */
    font-size: 1rem;
}

.task-link:hover {
    color: #555; /* ホバー時のカラー */
}

/* カテゴリへのリンクスタイル */
.category {
    color: #757575; /* リンクの色 */
    font-size: 1rem;
}

/* プライオリティへのリンクスタイル */
.priority {
    color: #FB88B4; /* リンクの色 */
    font-size: 1rem;
}
/* ボディテキストスタイル */
.body {
    font-size: 1rem;
    color: #757575; /* テキストの色 */
}

/* デッドラインのテキストスタイル */
.deadline {
    font-size: 1rem;
    color: #757575; 
}

/* ベースのカラースタイル */
.element {
    color: #757575;
}

.post {
    width: 100%;
    text-align: center;
    border-collapse: collapse;
    margin: 0 auto;
    color: white; 
    text-decoration: none;
}

.post th,
.post td {
    border-bottom: 1px solid #757575; /* 横線のみ */
    padding: 8px;
}

.post th {
    background-color: #AAC4FF;
    color: white;
    border-top: 1px solid #757575; /* 横線のみ */
}

.post th:first-child,
.post td:first-child {
    border-left: 1px solid #757575; /* 左端の横線のみ */
}

.post th:last-child,
.post td:last-child {
    border-right: 1px solid #757575; /* 右端の横線のみ */
}

.extra-space {
    margin-bottom: 30px;
}

.task {
    background: #AAC4FF;
    box-shadow: 0px 0px 0px 5px #AAC4FF;
    border: dashed 2px white;
    padding: 0.5em 2.0em; /* 下部の余白を追加 */
    width: 200px;
    text-align: center; /* 文字を中央寄せにする */
    font-weight: bold; /* 太字 */
    color: white; /* 文字の色を白にする */
    margin: 1em auto 2em; /* 下部の余白を追加,中央寄せ*/
}