/* show.css */
h1 {
    font-size: 2rem;
    color: #AAC4FF;
    text-align: left;
    margin-top: 0.3rem; 
    margin-bottom: 0.3rem;
}

.content {
    margin: 0 auto; /* 左右の余白を自動調整して中央に配置 */
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: white;
    text-align: center; /* 内容を中央に配置 */
    max-width: 600px; /* 最大幅を設定 */
    margin-top: 20px; /* 上部の余白を追加 */
}

.title, .body, .category {
    margin-bottom: 10px;
    font-weight: bold;
    color: #AAC4FF;
    font-size: 1.5rem;
}

.priority, .deadline {
    margin-bottom: 10px;
    font-weight: bold;
    color: #AAC4FF;
}

.back {
    margin-top: 1rem;
    text-align: center;
    font-size: 1rem;
}

.back a {
    color: #AAC4FF;
    text-decoration: underline;
}

.back a:hover {
    text-decoration: underline;
}

.edit-form {
    margin-top: 20px; /* Editフォームの上部余白を追加 */
    text-align: center; 
}

.edit {
    background-color: #AAC4FF;
    color: white;
    padding: 0.5rem 1.0rem;
    font-size: 1rem;
    border: 2px solid #AAC4FF;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
    margin-top: 20px; /* 上部余白を追加 */
}

.edit:hover {
    background-color: #7892c2;
    color: #fff;
}
